body {
	background-color: #F0F8FF; 
}
.column {
	float: left;
	width: 15em;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.right {
	padding-left: 2em;
}
#initials {
	text-align: center;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-left: 5px;
	font-size: 100px;
}
.left {
	color: white;
	background-color: #9aa2a6;
	margin-top: -20px;
	margin-left: -10px;
	padding-left: 10px;
	padding-top: 42px;
	border-right: inset 3px;
	padding-right: 10px;
	height: 100vh;
}
.left h4 {
	font-size: 20px;
}
.name {
	background-color: teal;
	width: 100vw;
	padding-left: 30px;
	margin-left: -1em;
	margin-top: -10px;
	border-bottom: inset 3px;
	color: white;
	font-size: 30px;
	justify-content: flex-start;
	display: flex;
}
.contacts {
	margin-top: -6.75em;
}
.experience-section {
	padding-top: -30px;
	width: 50em;
}
